.column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  blockquote {
    width: 67%;
  }
}

.col-md-9 {
  flex-direction: column;
  padding: 21px;

  img {
    float: left;
    background: #054804;
  }

  .avatar {
    background: #058559;
    border: 5px solid #006e01;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
    width: 80px;
    height: 80px;
    @media screen and (max-width: 639px) {
      width: 60px;
      height: 60px;
    }
  }
}

.about {
  float: left;

  b {
    margin: 10px;
  }

  p {
    font-weight: 300;
    margin: 30px;
    margin-block-start: 0.2em;
    width: 84%;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: 639px) {
      margin-left: 33px;
      margin-block-start: 0.2em;
    }
  }

  @media screen and (max-width: 639px) {
    float: none;
  }
}

.below {
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 48px;
  font-weight: 300;
  margin-block-start: 0.2em;
  width: 77%;
  flex-direction: row;
  justify-content: space-around;
}

.footer-social {
  display: flex;
  margin: 0;
  font-size: 40px;
  padding-left: 48px;
  list-style: none !important;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
}

