.search {
    width: 527px;
    margin: 0 auto;
    padding: 22px;
    @media screen and (max-width: 638px) {
        width: 280px;
    }
    .search-wrap-1 {
        input {
            text-align: center;
            width: 99%;
            height: 33px;
            display: block;
            background-color: #f5f8fa;
            color: #66757f;
            outline: 0;
            border: none;
            @media screen and (max-width: 638px) {
                margin: 2px;
            }
            font-size: 18px;
            border: 0;
            border-bottom: 1px solid #e1e8ed;
            padding: 4px;
            &:focus {
                background-color: #fff;
            }
        }
    }
}
