name: deployment
on:
  push:
    branches: ["dev"]

jobs:
  build:
    # Runner name
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # Sets up node
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm i
      - run: npm ci
      - run: gulp

      - name: Commit files
        run: |
          git config --local user.name  ${{ github.actor }}
          cp -r deployment/* .
          git add -A
          git commit -m "deployment done"
          cat <<EOF > .gitignore
          /.github/
          /.idea/
          /deployment/
          /gulp-plugins/
          /node_modules/
          /src/
          /.eslintrc
          /.gitignore
          /gulpfile.js
          /package.json
          /package-lock.json
          /webpack.config.js
          EOF
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.REPO_GITHUB_TOKEN }}
          force: true
