name: deployment

# Controls when the action will run.
on:
  push:
    # On which branch
    branches: ["dev"]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Job name
  build:
    # Runner name
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Sets up node
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm i
      - run: npm ci
      - run: gulp

      - name: Commit files
        run: |
          cd deployment
          git init
          git remote add origin git@github.com:onlinejavaclass/onlinejavaclass.github.io.git
          git config --local user.name  ${{ github.actor }}
          git add -A
          cp -r deployment/* .
          git commit -m "deployment done"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.REPO_GITHUB_TOKEN }}
          force: true
